body {
    background-color: brown;
}
header,footer{
    padding: 5%;
    background-color:cornflowerblue;
    color:aliceblue; 
    font-size: xx-large;
    text-align:center;
}

nav ul{

    list-style: none;    
}

nav ul li{
    display: inline-block;

}