{%extends 'base.html'%}

{%block title%}Home{%endblock%}

{%block content%}


<form action="/guardar" method="post">
    
    <h2>Datos personales</h2>
    <input type="hidden" id ="id" name="id" value="{% if datos %}{{datos[0]}} {%endif%}">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" value="{% if datos %}{{datos[1]}} {%endif%}"><br><br>
    <label for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" name="apellidos" value="{% if datos %}{{datos[2]}} {%endif%}"><br><br>
    <label for="dni">D.N.I:</label>
    <input type="text" id="dni" name="dni" value="{% if datos %}{{datos[3]}} {%endif%}"><br><br>    
    <label for="ocupacion">Ocupacion: </label> <!-- Ultimo añadido para hacer la ocupacion -->
    <select id="ocupacion" name="ocupacion">
      <option value="-1">Seleccione ocupación</option>
      {%for o in ocupaciones%}
        <option value="{{o[0]}}" {%if (datos) and (datos[4] == o[0]) %}selected {%endif%}>{{o[1]}}</option>
      {%endfor%}
    </select>
      <br><br>  
      <hr><br>
      <h2>Numeros</h2>
      {%for num in numeros%}
        <input type="radio" id="dato{{num[0]}}" name="numero" value="{{num[0]}}" {%if (datos) and (num[0] == datos[5]) %}checked{%endif%}>
        <label for="dato{{num[0]}}">{{num[1]}}</label><br>
      {%endfor%}
      <hr><br>
      <h2>Vehiculos</h2>
      {%for v in vehiculos%}
      <input type="checkbox" id="vh{{v[0]}}" name="vehiculo" value="{{v[0]}}"
      {%if (mis_vehiculos) and v[0] in mis_vehiculos%}checked{%endif%}>
      <label for="vh{{v[0]}}"> {{v[1]}}</label><br>
      {%endfor%}
      <br><br>
      <hr><br>
  <input type="submit" value="Enviar">

</form> 
{%endblock%}